In [1]:
#1.wap to extract the each and every element from the collection.

st='hello'
for i in st:
    print(i)

h
e
l
l
o

In [28]:
#list

l=[1,2,3,'abc','xyz']
for i in l:
    print(i,end=",")

1,2,3,abc,xyz,

In [6]:
#tuple

t=(1,2,5,'aeiou','AEIOU')
for i in t:
    print(i)

1
2
5
aeiou
AEIOU

In [7]:
#set

s={1,34,67,'asd','sdf'}
for i in s:
    print(i)

1
34
67
asd
sdf

In [11]:
#dict

d={1:27,23:12,'abc':'xyz'}
for i in d.items():
    print(i)

(1, 27)
(23, 12)
('abc', 'xyz')

In [14]:
#multi values

d={1:27,23:12,'abc':'xyz'}
for i,j in d.items():
    print(i,j)

1 27
23 12
abc xyz

In [18]:
#2.wap to extract each and every character from the string in reverse order.

st="hello"
for i in st[::-1]:
    print(i)

o
l
l
e
h

In [33]:
#3.wap to extract each and every character from the string in reverse order with out using slicing.

st="hello"                       
count=-1                        
for i in st:                     
    print(st[count])             
    count-=1

o
l
l
e
h

In [35]:
#4.wap to count the number of the characters in given string without length function.

st="purna"
count=0
for i in st:
    print(count)
    count+=1

0
1
2
3
4

In [30]:
#5.wap to print 0 to 10 by using the for loop in one single line.
for i in range(0,11,1):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,

In [31]:
#6.wap to print 0 to 50 even numbers by using for loop in one single line.

for i in range(0,51,2):
    print(i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

In [33]:
#7.wap to print 0 to 50 odd numbers by using for loop in one single line.

for i in range(1,51,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

In [35]:
#8.wap to print 1 to 20 by using for loop in reverse order.

for i in range(20,0,-1):

    print(i,end=",")

20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [24]:
#9.wap to print 100 to 10 by using for loop 

for i in range(100,9,-2):
    print(i,end=",")

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,

In [2]:
#10.wap to print traverse/loop/iterate through a string print the character and the index.

s='virat'
for i in range(len(s)):
    print((i,s[i]))

(0, 'v')
(1, 'i')
(2, 'r')
(3, 'a')
(4, 't')

In [33]:
#11.wap to print traverse through a list print character and the index.

l=[1,2,3,4,5]
for index in range(len(l)):
    print(index,l[index])

0 1
1 2
2 3
3 4
4 5

In [38]:
#12.wap to print traverse/loop through a list.print the even numbers list and odd number list separately.

l=[1,2,3,4,5]
even=[]
odd=[]
for i in l:
    if i%2==0:
        even=even+[i]
    else:
        odd=odd+[i]
print(even)
print(odd)

[2, 4]
[1, 3, 5]

In [1]:
#13.wap to extract the uppercase character from given string.

st='PySpIdErS'
for i in st:
    if 'A'<=i<='Z':
        print(i)

P
S
I
E
S

In [2]:
#14.wap to extract the lowercase character from given string.

st='PySpIdErS'
for i in st:
    if 'a'<=i<='z':
        print(i)

y
p
d
r

In [16]:
#15.wap to extract the special characters from the given string.

st='@PySp#IdE$rS'
for i in st:
    if not('A'<=i<='Z'and'a'<=i<='z'and'0'<=i<='9'):
     print(i)

@
P
y
S
p
#
I
d
E
$
r
S

In [13]:
#16.wap to extract expect ascii numbers from given string.

st='python0123'
for i in st:
    if not('0'<=i<='9'):
        print(i)

p
y
t
h
o
n

In [9]:
#17.wap to extract vowels and ascii numbers in given string.

st='python1234'
for i in st:
    if st in ('AEIOU aeiou')or('0'<=i<='9'):
        print(i)

1
2
3
4

In [17]:
#18.wap to store all the characters from the string.

res=''
st='python'
for i in st:
    res=res+i
    print(i,end='')

python

In [5]:
#19.wap to reverse the string without slicing and store in the new string.

res=""
st='12345'
for i in st:
    res=i+res
    print(res)

1
21
321
4321
54321