In [2]:
#1.wap to generate and print the values from 1 to 10

start=1
end=10
while start<=end:
    print(start,end=" ")
    start+=1

1 2 3 4 5 6 7 8 9 10

In [1]:
#2.wap to print the values from 20 to 50

start=20
end=50
while start<=end:
    print(start,end=" ")
    start+=1

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [3]:
#3.wap to print the even numbers from 0 to 30

start=0
end=30
while start<=end:
    if start%2==0:
        print(start,end=" ")
    start+=1

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [4]:
#4.wap to print the odd numbers from 10 to 60

start=10
end=60
while start<=end:
    if start%2!=0:
        print(start,end=" ")
    start+=1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59

In [5]:
#5.wap to print the values 20 to 10 

start=20 
end=10
while start>=end:
    print(start,end=" ")
    start-=1

20 19 18 17 16 15 14 13 12 11 10

In [1]:
#6.wap to print the uppercase character from A to Z

start=65
end=90
while start<=end:
    print(chr(start),end=" ")
    start+=1

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [21]:
#7.wap to print the 3rd table values 3x1=3 from 1 to 20

start=1
end=20
n=int(input("enter the number"))
while start<=end:
    print(n,'*',start,'=',start*n)
    start+=1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60

In [40]:
#8.wap to print the factors of given number

start=1
end=int(input("enter the number"))
while start<=end:
    if end%start==0:
        print(start)
    start+=1

1
5
11
55

In [41]:
#9.wap to sum of the values from 1 to 5

sum=0
start=1
end=5
while start<=end:
    sum+=start
    start+=1
print(sum)

15

In [42]:
#10.wap to product of the values from 1 to 5

product=1
start=1
end=5
while start<=end:
    product*=start
    start+=1
print(product)

120

In [10]:
#11.wap to fetch/extract the number/digits individually.
n=45268
i=0
res=" "
while i<n:
    last=n%10
    res+=str(last)
    n=n//10
print(int(res[::-1]))

45268

In [13]:
#12.wap to extract the minimum number without using inbuilt method.

n=45268
i=0
min_=9
while i<n:
    last=n%10
    if last<min_:
        min_=last
    n=n//10
print(f"the minimum value is{min_}")

the minimum value is2

In [18]:
#13.wap to extract the maximum number without using inbuilt method.

n=45268
i=0
max_=0
while i<n:
    last=n%10
    if last>max_:
        max_=last
    n=n//10
print(f"the maximum value is{max_}")

the maximum value is8

In [4]:
#14.wap to check whether the given number is palindrome or not.
n=123321
s=" "
i=0
while i<n:
    last=n%10
    s+=str(last)
    n=n//10
    if n==int(s):
        print("palindrome")
    else:
        print("not palindrome")

not palindrome
not palindrome
palindrome
not palindrome
not palindrome
not palindrome

In [11]:
#random module.
import random
var=random.randint(1,50)
print(var)

26

In [ ]:
#Game on randome module.
import random
result=random.randint(1,20)
while True:
    player_guess=int(input("enter the number"))
    if player_guess==result:
        print("your guess is correct")
        break
    else:
        print("your guess is wrong")

In [5]:
#itertools
#count
import itertools
for i in itertools.count(2,2):
    print(i)
    if i==10:
        break

2
4
6
8
10

In [14]:
#cycle
import itertools
a=itertools.cycle([11,22,33,44])
for i in range(6):
    print(next(a))

11
22
33
44
11
22

In [19]:
#replace
import itertools
for i in itertools.repeat('python programming',3):
    print(i)

python programming
python programming
python programming

In [20]:
#chain
import itertools
for i in itertools.chain([11,22,33],[44,55,66]):
    print(i)

11
22
33
44
55
66

In [26]:
#islice
import itertools
s='python programming language'
for i in itertools.islice(s,0,8):
    print(i,end=" ")

p y t h o n   p

In [36]:
#time module 
#time.sleep
import time
for i in range(1,100):
    time.sleep(2)
    print(i)
    if i==5:
        break

1
2
3
4
5

In [38]:
#time.ctime
import time
start=time.time()
print(start)
c=time.ctime()
print(c)

1702573902.417074
Thu Dec 14 22:41:42 2023

In [39]:
#time.localtime
import time
ltime=time.localtime()
print(ltime)

time.struct_time(tm_year=2023, tm_mon=12, tm_mday=14, tm_hour=22, tm_min=42, tm_sec=42, tm_wday=3, tm_yday=348, tm_isdst=0)

In [41]:
#time.strftime()
print(time.strftime("%d-%m-%y"))
print(time.strftime("%H-%M-%S"))

14-12-23
22-46-48